body { 
    padding-bottom: 20px;
}

nav.navbar  {
	position: fixed;
	width: 100%;
}

.mainnav {
	color: #ffffff;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.25em; 
}

.navbar {
	margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a.hover {
	color: #FFFFFF;
}

li.mainnav {
	display: inline-block;
	list-style-type: none;
	padding-right: 15px;
	padding-left: 15px;
	height: 31px;
}
.mancontainer {
	margin-top: 52px;
} 
.container .jumbotron {
  padding-right: 0;
  padding-left: 0;
}
.sidenav_nav {
	position: absolute;
	top: 52px;
	width: 100%;
}

.jumbotron {
	padding: 0;
}
li.mainnav:last-child { 
}

.navbar-default {
	background-color: #000000;
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

.logolink {
	float:left;
	padding: 0;
}

.mainlogo {
	color: #ffffff;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.25em; 
} 

.sidenav {  
	background-color: #cecece;
	min-height: 100%;  
}

.preview_section {
	float: left;
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;  
    margin-top: 150px;
    margin-bottom: 0; 
	width: 40px;
	text-align: center; 
}

.preview_section_wrapper { 
    margin-top: 15px;
	float: left;
	width: 40px;
	text-align: right;
	min-height:100px; 
	border-right: 1px solid #cecece;
	margin-right: 3px;

}

li.mainnav a {
	color: #ffffff; 
}
	
a.threeBar {
	display: none;
	background-image: url("/img/3bar.jpg"); 
	width: 25px;
	height: 25px;
	float: left;
}

li.mainnav ul {    
	float: left;
	display: block;
	background-color: #cecece;
	min-height: 100%;
	padding: 48px 0;
	width: 200px;
}

li.mainnav ul li {  
	background-color: #cecece;
	min-height: 100%;
	padding: 0;
	margin: 0;
	width: 200px;
	font-size: 1em
}
.topspacer {
	height: 52px;
}

li.mainnav ul li a {
	color: #ffffff;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 0.75em;
}

.maincontainer {
	border-left: 1px solid #000000; 
	border-right: 1px solid #000000; 
	border-bottom: 1px solid #000000; 
}

.sidenav_box{
    background-image: url("/img/sidenav_boxbg.png");
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.sidenav_box_container{
    padding-left: 15px;
    padding-right: 15px;

}

.article_buttons {
	width: 100%;
}
dl.article_buttons {
	margin: 0;
}

a.has-sub {
	display: block;
}

ul.egmenu {
    display: table;
    table-layout: fixed;
}

footer {
	color: #FFFFFF;
	position: fixed;
	bottom: 0px;
	background-color: #000000;
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	width: 100%;
}

p.articleteaser:first-child::first-letter {
    font-size: 24px;
    color:#F5645C;
    font-family: sans-serif;
    background: #F5F1E9;
    padding:5px 10px;
    font-weight: bold;
    text-transform: uppercase;
}
p.articleteaser::first-letter {
    font-size: 30px;
    color:#000000; 
    font-weight: bolder;
    text-transform: uppercase;
}
h4.articleteaser {
	border-bottom: 3px dotted #cecece;
	margin-bottom: 0;
	padding-bottom: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */
	img.mainlogo {
		height: 50px;
		width: 89px;
	}
	
	a.threeBar {display: inline-block; margin-left: 10px; margin-top: 15px;}

	ul.mainnav {
		display: none;
	}

	li.mainnav {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: left;
	}

	ul.mainnav {
		padding: 0;
		margin: 0;
	}

	li.mainnav:last-child {  
		height: auto; 
	}

	.navbar-header {
		padding: 0;
		margin: 0;
	}

	.sidenav {   
		padding: 0;
		margin: 0;
		text-align: left;
		background-color: #cecece;
		border-left: 1px solid darkgrey;
		min-height: 100%;
		height: 100%;
		padding: 0; 
		float: none;
	}


} 

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */ 

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	/* Styles */
	img.mainlogo {
		height: 50px;
		width: 89px;
	} 
	
	a.threeBar {display: inline-block; margin-left: 10px; margin-top: 15px;}

	ul.mainnav {
		display: none;
	}

	li.mainnav {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: left;
	}

	ul.mainnav {
		padding: 0;
		margin: 0;
	}

	li.mainnav:last-child {  
		height: auto; 
	}

	.navbar-header {
		padding: 0;
		margin: 0;
	}

	.sidenav {  
		top: 0px;
		position: relative;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: left;
		background-color: #cecece;
		min-height: 100%;
		height: 100%;
		padding: 0; 
		float: none;
	}

	.navbar-default {
		background-color: #000000;
		background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
		
	.navbar-default {
		background-color: #000000;
		background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
		
	.navbar-default {
		background-color: #000000;
		background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	}

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
		
	.navbar-default {
		background-color: #000000;
		background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
		
	.navbar-default {
		background-color: #000000;
		background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
		
	.navbar-default {
		background-color: #000000;
		background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	}

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
	img.mainlogo {
		height: 50px;
		width: 89px;
	} 
	
	a.threeBar {display: inline-block; margin-left: 10px; margin-top: 15px;}
	
	ul.mainnav {
		display: none;
	}

	li.mainnav {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: left;
	}

	ul.mainnav {
		padding: 0;
		margin: 0;
	}

	li.mainnav:last-child {  
		height: auto; 
	}

	.navbar-header {
		padding: 0;
		margin: 0;
	}

	.sidenav {  
		top: 0px;
		position: relative;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: left;
		background-color: #cecece;
		min-height: 100%;
		height: 100%;
		padding: 0; 
		float: none;
	}

		
	.navbar-default {
		background-color: #000000;
		background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	}

}


